# Python
attrs
ipython

# Scientific stack
numpy>=1.18.2
pytest>=5.4.1
scipy>=1.4.1
pandas>1.0
openpyxl>3.0
notebook>6
pygmo
nbextensions

# Plotting
matplotlib

# Formatters and Checkers
pre-commit

# Tests
pytest-cov
pytest-xdist
codecov

# API for COVID-19
COVID19py
